[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "kernel"
path = "src/main.rs"
test = false
bench = false

[dependencies]
arch_x86_64 = { version = "0.1.0", path = "../arch_x86_64" }
log = "0.4.29"
